*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#intro{
    background: hsl(256, 26%, 20%);
    color: white;
    height: 600px;
    font-family: "DM Serif Display", serif;
    padding-top: 100px;
}

img#left-pattern{
    position: absolute;
    bottom: -25%;
    left: -33%;
}

#image-intro img#right-pattern{
    position: absolute;
    top: -15%;
    right: -32%;
}

.bt-gray{
    border-top: 2px solid rgb(173, 173, 173);
    padding-top: 50px;
}

#hew{
    background: hsl(256, 26%, 20%);
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}

.borda{
    border: 1px solid red;
}