*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;

}

.container{
    background: white;
    border-radius: 20px;

}

.bg-n2{
    position: absolute;
    background: url(images/illustration-desktop.svg) no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position-y: 50%;
    background-position-x: -70px;
}

#ilustracao{
    
    position: relative;
    background: url(images/bg-pattern-desktop.svg) no-repeat;
    background-position: 115% 70%;
    
}

#ilustracao img#box{
    position: absolute;
    left: -100px;
    top: 40%;
    
}

#ilustracao img#wom{
    display: none;
}

.qst{
    cursor: pointer; 
}

.qst:hover{
    color: hsl(14, 88%, 65%);
}

.arrow{
    float: right;
    padding-top: 8px;
}

.ans{
    padding-left: 20px;
    padding-top: 10px;
    display: none;
}

.borda{
    border: 1px solid red;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .container{
        max-width: 90%;
        margin-top: 300px;
    }
    #ilustracao{
    
        position: relative;
        width: 80%;
        height: 120px;
        background: none;
        display: flex;
        justify-content: center;
        align-self: center;
        
    }

    .bg-n2{
        position: absolute;
        background: url(images/bg-pattern-mobile.svg) no-repeat;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-position-x: center;
    }

    #ilustracao img#box{
        display: none;
        
    }

    #ilustracao img#wom{
        display: flex;
        position: absolute;
        top: -105px;
        padding-right: 30px;        
    }

    #faq{
        text-align: center;
    }
 }

/***************Credits
*****************************************/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }